Repository hyperpolymath/scaffoldia: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:shell, lint:yaml, lint:markdown

lint:shell:
  stage: lint
  image: koalaman/shellcheck-alpine:stable
  script:
  - shellcheck **/*.sh

lint:yaml:
  stage: lint
  image: sdesbure/yamllint
  script:
  - yamllint -c .yamllint .

lint:markdown:
  stage: lint
  image: node:lts-alpine
  script:
  - npm install -g markdownlint-cli
  - markdownlint '**/*.md'

RSR standardization: bulk sync 2025-12-10
  .editorconfig
  .guix-channel
  .well-known/ai.txt
  .well-known/consent-required.txt
  .well-known/dc.xml
  .well-known/humans.txt
  .well-known/provenance.json
  .well-known/security.txt
  CITATION.cff
  LICENSE
  LICENSE.txt
  README.adoc
  RSR_COMPLIANCE.adoc
  STATE.scm
  codemeta.json
  docs/CITATIONS.adoc
  guix.scm
  justfile
Due: none

fix: Restore original README.md
  README.md
Due: lint:markdown

chore: Add RSR npm/bun blocker and policy
  .claude/CLAUDE.md
  .github/workflows/npm-bun-blocker.yml
Due: lint:yaml, lint:markdown

chore: Add RSR policy enforcement workflows
  .claude/CLAUDE.md
  .github/workflows/guix-nix-policy.yml
  .github/workflows/security-policy.yml
  .nojekyll
Due: lint:yaml, lint:markdown

chore: Add comprehensive quality gates (RSR)
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/comprehensive-quality.yml
  .github/workflows/quality.yml
  .github/workflows/scorecard.yml
  .github/workflows/wellknown-enforcement.yml
Due: lint:yaml

Add FUNDING.yml for GitHub Sponsors
  .github/FUNDING.yml
Due: lint:yaml

Add CodeQL security scanning workflow
  .github/workflows/codeql-analysis.yml
Due: lint:yaml

Update mirror workflow with workflow_dispatch and dynamic repo name
  .github/workflows/mirror.yml
Due: lint:yaml

Create SECURITY.md
  SECURITY.md
Due: lint:markdown

Fix OpenSSF Scorecard issues across all workflow files
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql.yml
  .github/workflows/comprehensive-quality.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/mirror.yml
  .github/workflows/npm-bun-blocker.yml
  .github/workflows/quality.yml
  .github/workflows/scorecard.yml
  .github/workflows/security-policy.yml
  .github/workflows/wellknown-enforcement.yml
Due: lint:yaml

Add bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: lint:markdown

Add feature request template
  .github/ISSUE_TEMPLATE/feature_request.md
Due: lint:markdown

Add custom issue template
  .github/ISSUE_TEMPLATE/custom.md
Due: lint:markdown

chore: Change scheduled workflows to run daily
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql.yml
  .github/workflows/comprehensive-quality.yml
  .github/workflows/scorecard.yml
  .github/workflows/wellknown-enforcement.yml
Due: lint:yaml

feat: Switch mirror workflow to SSH
  .github/workflows/mirror.yml
Due: lint:yaml

chore: remove .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: lint:yaml

chore: remove .github/workflows/comprehensive-quality.yml
  .github/workflows/comprehensive-quality.yml
Due: lint:yaml

chore: standardize .gitignore (RSR)
  .gitignore
Due: none

chore: standardize .gitattributes (RSR)
  .gitattributes
Due: none

chore: add META.scm ecosystem metadata
  META.scm
Due: none

chore: add ECOSYSTEM.scm ecosystem metadata
  ECOSYSTEM.scm
Due: none

chore: add STATE.scm ecosystem metadata
  STATE.scm
Due: none

fix(security): CodeQL language matrix correction
  .github/workflows/codeql.yml
Due: lint:yaml

chore(license): standardize to MIT OR AGPL-3.0-or-later
  LICENSE.txt
Due: none

Add GitHub community files
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: lint:yaml, lint:markdown

fix(ci): update quality.yml workflow
  .github/workflows/quality.yml
Due: lint:yaml

fix: correct author name in CITATION.cff
  CITATION.cff
Due: none

fix(security): resolve SCM and security compliance issues
  .well-known/security.txt
  RSR_COMPLIANCE.adoc
  STATE.scm
  flake.nix
  justfile
Due: none

Review SCM files and security updates (#2)
  .well-known/security.txt
  RSR_COMPLIANCE.adoc
  STATE.scm
  flake.nix
  justfile
Due: none

Remove contamination
  .claude/CLAUDE.md
  .github/workflows/codeql-analysis.yml
  .github/workflows/comprehensive-quality.yml
  .guix-channel
  .well-known/ai.txt
  .well-known/consent-required.txt
  .well-known/dc.xml
  .well-known/humans.txt
  .well-known/provenance.json
  .well-known/security.txt
  CITATION.cff
  ECOSYSTEM.scm
  META.scm
  RSR_COMPLIANCE.adoc
  STATE.scm
  codemeta.json
  guix.scm
Due: lint:yaml, lint:markdown

Add language policy CLAUDE.md
  .claude/CLAUDE.md
Due: lint:markdown

Update language policy: Add Gleam, Tauri 2.0+, Dioxus
  .claude/CLAUDE.md
Due: lint:markdown

Add instant-sync for automatic forge propagation
  .github/workflows/instant-sync.yml
Due: lint:yaml

Add RSR language policy blocker
  .github/workflows/rsr-antipattern.yml
Due: lint:yaml

Add contributing guide
  CONTRIBUTING.adoc
Due: none

Add code of conduct
  CODE_OF_CONDUCT.md
Due: lint:markdown

Add license badges to README
  README.adoc
Due: none

Remove duplicate codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: lint:yaml

Add workflow-linter.yml prevention workflow
  .github/workflows/workflow-linter.yml
Due: lint:yaml

Add secret-scanner.yml prevention workflow
  .github/workflows/secret-scanner.yml
Due: lint:yaml

Path conditions:
  lint:shell: any of: **/*.sh
  lint:yaml: any of: **/*.yml, **/*.yaml
  lint:markdown: any of: **/*.md
