Repository hyperpolymath/scaffoldia: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:shell, lint:yaml, lint:markdown

.gitlab-ci.yml:

# GitLab CI/CD Configuration

stages:
  - lint
  - test
  - build
  - security
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  PODMAN_USERNS: keep-id

# Default settings
default:
  image: alpine:latest
  before_script:
    - echo "Starting job..."
  after_script:
    - echo "Job completed."

# Templates
.cache_template: &cache_config
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
      - .cache/
      - vendor/

# Lint stage
lint:shell:
  stage: lint
  image: koalaman/shellcheck-alpine:stable
  script:
    - shellcheck **/*.sh
  only:
    changes:
      - "**/*.sh"

lint:yaml:
  stage: lint
  image: sdesbure/yamllint
  script:
    - yamllint -c .yamllint .
  only:
    changes:
      - "**/*.yml"
      - "**/*.yaml"

lint:markdown:
  stage: lint
  image: node:lts-alpine
  script:
    - npm install -g markdownlint-cli
    - markdownlint '**/*.md'
  only:
    changes:
      - "**/*.md"

# Test stage
test:unit:
  stage: test
  image: python:3.11-slim
  script:
    - pip install -r requirements.txt
    - pytest tests/unit
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    reports:
      junit: test-results.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    paths:
      - htmlcov/
    expire_in: 1 week

test:integration:
  stage: test
  image: python:3.11-slim
  services:
    - postgres:latest
  variables:
    POSTGRES_DB: testdb
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
  script:
    - pip install -r requirements.txt
    - pytest tests/integration

# Build stage
build:podman:
  stage: build
  image: quay.io/podman/stable
  script:
    - podman build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA .
    - podman tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:latest
    - podman login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - podman push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - podman push $CI_REGISTRY_IMAGE:latest
  only:
    - main
    - tags

build:binary:
  stage: build
  image: rust:latest
  script:
    - cargo build --release
  artifacts:
    paths:
      - target/release/
    expire_in: 1 month

# Security stage
security:sast:
  stage: security
  image: returntocorp/semgrep
  script:
    - semgrep --config=auto --json --output=semgrep-report.json
  artifacts:
    reports:
      sast: semgrep-report.json
  allow_failure: true

security:dependency-scan:
  stage: security
  image: aquasec/trivy:latest
  script:
    - trivy fs --format json --output trivy-report.json .
  artifacts:
    reports:
      dependency_scanning: trivy-report.json
  allow_failure: true

security:container-scan:
  stage: security
  image: aquasec/trivy:latest
  script:
    - trivy image --format json $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  only:
    - main
  allow_failure: true

# Deploy stage
deploy:staging:
  stage: deploy
  image: alpine:latest
  script:
    - echo "Deploying to staging..."
    - apk add --no-cache curl
    - curl -X POST $STAGING_WEBHOOK_URL
  environment:
    name: staging
    url: https://staging.example.com
  only:
    - main

deploy:production:
  stage: deploy
  image: alpine:latest
  script:
    - echo "Deploying to production..."
    - apk add --no-cache curl
    - curl -X POST $PRODUCTION_WEBHOOK_URL
  environment:
    name: production
    url: https://example.com
  only:
    - tags
  when: manual

ci(rhodibot): switch to the report-only canary (standards#759) (#54)
  .github/workflows/rhodibot.yml
Due: lint:yaml

chore(governance): stop declaring repository identity in settings.yml
  .github/settings.yml
Due: lint:yaml

chore(governance): stop declaring repository identity in settings.yml (#55)
  .github/settings.yml
Due: lint:yaml

fix(ci): pin third-party actions to full commit SHAs
  .github/workflows/boj-build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/e2e.yml
  .github/workflows/estate-rules.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/instant-sync.yml
  .github/workflows/openssf-compliance.yml
  .github/workflows/push-email-notify.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/rhodibot.yml
  .github/workflows/runtime-policy.yml
  .github/workflows/security-policy.yml
  .github/workflows/static-analysis-gate.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
Due: lint:yaml

Update .github/workflows/push-email-notify.yml
  .github/workflows/push-email-notify.yml
Due: lint:yaml

fix(ci): pin third-party actions to full commit SHAs (#56)
  .github/workflows/boj-build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/e2e.yml
  .github/workflows/estate-rules.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/instant-sync.yml
  .github/workflows/openssf-compliance.yml
  .github/workflows/push-email-notify.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/rhodibot.yml
  .github/workflows/runtime-policy.yml
  .github/workflows/security-policy.yml
  .github/workflows/static-analysis-gate.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
Due: lint:yaml

fix(ci): reconcile the workflows with actions.lock (gh-actions-lock v0.1.6)
  .github/workflows/boj-build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/e2e.yml
  .github/workflows/estate-rules.yml
  .github/workflows/governance.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/instant-sync.yml
  .github/workflows/label-triage.yml
  .github/workflows/labels.yml
  .github/workflows/mirror.yml
  .github/workflows/openssf-compliance.yml
  .github/workflows/push-email-notify.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/rhodibot.yml
  .github/workflows/runtime-policy.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/security-policy.yml
  .github/workflows/static-analysis-gate.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
Due: lint:yaml

fix(ci): reconcile the workflows with actions.lock (gh-actions-lock) (#57)
  .github/workflows/boj-build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/e2e.yml
  .github/workflows/estate-rules.yml
  .github/workflows/governance.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/instant-sync.yml
  .github/workflows/label-triage.yml
  .github/workflows/labels.yml
  .github/workflows/mirror.yml
  .github/workflows/openssf-compliance.yml
  .github/workflows/push-email-notify.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/rhodibot.yml
  .github/workflows/runtime-policy.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/security-policy.yml
  .github/workflows/static-analysis-gate.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
Due: lint:yaml

ci(hypatia): standardise the wrapper caller id to the canonical `hypatia`
  .github/workflows/hypatia-scan.yml
Due: lint:yaml

ci(hypatia): standardise the wrapper caller id to the canonical `hypatia` (#58)
  .github/workflows/hypatia-scan.yml
Due: lint:yaml

fix(gates): converge the manifest guard on the template's DEED wording
  .github/workflows/dogfood-gate.yml
Due: lint:yaml

fix(gates): gate on the DEED grammar, per the template and standards#837 (#59)
  .github/workflows/dogfood-gate.yml
Due: lint:yaml

fix(ci): reconcile actions.lock so the lockfile validates (#60)
  .github/workflows/actions.lock
Due: none

docs: add Signed commits section to CONTRIBUTING
  .github/CONTRIBUTING.md
  CONTRIBUTING.adoc
Due: lint:markdown

docs: add Signed commits section to CONTRIBUTING (#62)
  .github/CONTRIBUTING.md
  CONTRIBUTING.adoc
Due: lint:markdown
