Repository hyperpolymath/scaffoldia: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:shell, lint:yaml, lint:markdown

.gitlab-ci.yml:

# GitLab CI/CD Configuration

stages:
  - lint
  - test
  - build
  - security
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  PODMAN_USERNS: keep-id

# Default settings
default:
  image: alpine:latest
  before_script:
    - echo "Starting job..."
  after_script:
    - echo "Job completed."

# Templates
.cache_template: &cache_config
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
      - .cache/
      - vendor/

# Lint stage
lint:shell:
  stage: lint
  image: koalaman/shellcheck-alpine:stable
  script:
    - shellcheck **/*.sh
  only:
    changes:
      - "**/*.sh"

lint:yaml:
  stage: lint
  image: sdesbure/yamllint
  script:
    - yamllint -c .yamllint .
  only:
    changes:
      - "**/*.yml"
      - "**/*.yaml"

lint:markdown:
  stage: lint
  image: node:lts-alpine
  script:
    - npm install -g markdownlint-cli
    - markdownlint '**/*.md'
  only:
    changes:
      - "**/*.md"

# Test stage
test:unit:
  stage: test
  image: python:3.11-slim
  script:
    - pip install -r requirements.txt
    - pytest tests/unit
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    reports:
      junit: test-results.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    paths:
      - htmlcov/
    expire_in: 1 week

test:integration:
  stage: test
  image: python:3.11-slim
  services:
    - postgres:latest
  variables:
    POSTGRES_DB: testdb
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
  script:
    - pip install -r requirements.txt
    - pytest tests/integration

# Build stage
build:podman:
  stage: build
  image: quay.io/podman/stable
  script:
    - podman build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA .
    - podman tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:latest
    - podman login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - podman push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - podman push $CI_REGISTRY_IMAGE:latest
  only:
    - main
    - tags

build:binary:
  stage: build
  image: rust:latest
  script:
    - cargo build --release
  artifacts:
    paths:
      - target/release/
    expire_in: 1 month

# Security stage
security:sast:
  stage: security
  image: returntocorp/semgrep
  script:
    - semgrep --config=auto --json --output=semgrep-report.json
  artifacts:
    reports:
      sast: semgrep-report.json
  allow_failure: true

security:dependency-scan:
  stage: security
  image: aquasec/trivy:latest
  script:
    - trivy fs --format json --output trivy-report.json .
  artifacts:
    reports:
      dependency_scanning: trivy-report.json
  allow_failure: true

security:container-scan:
  stage: security
  image: aquasec/trivy:latest
  script:
    - trivy image --format json $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  only:
    - main
  allow_failure: true

# Deploy stage
deploy:staging:
  stage: deploy
  image: alpine:latest
  script:
    - echo "Deploying to staging..."
    - apk add --no-cache curl
    - curl -X POST $STAGING_WEBHOOK_URL
  environment:
    name: staging
    url: https://staging.example.com
  only:
    - main

deploy:production:
  stage: deploy
  image: alpine:latest
  script:
    - echo "Deploying to production..."
    - apk add --no-cache curl
    - curl -X POST $PRODUCTION_WEBHOOK_URL
  environment:
    name: production
    url: https://example.com
  only:
    - tags
  when: manual

chore: bump standards workflow pins
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/mirror.yml
  .github/workflows/rust-ci.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
Due: lint:yaml

fix(rhodibot): automated RSR compliance fixes
  CONTRIBUTING.md
  SECURITY.md
Due: lint:markdown

ci: pin send-mail action v18
  .github/workflows/push-email-notify.yml
Due: lint:yaml

chore(toolchain): keep .tool-versions -> .mise.toml pin conversion (R-16)
  .mise.toml
  .tool-versions
Due: none

chore(license): migrate PMPL scaffold emissions to MPL-2.0 per owner ruling
  .machine_readable/contractiles/Trustfile.a2ml
  .machine_readable/self-validating/examples/setup-repo.k9.ncl
  .well-known/ai.txt
  .well-known/humans.txt
  build/contractile.just
  docs/RSR_OUTLINE.adoc
  docs/STATE-VISUALIZER.adoc
  docs/legal/EXHIBIT-A-ETHICAL-USE.txt
  docs/legal/EXHIBIT-B-QUANTUM-SAFE.txt
  docs/onboarding/QUICKSTART-MAINTAINER.adoc
  docs/practice/ci-cost-reduction.adoc
Due: none

fix(rsr): harden emitted licence download against HTTP error bodies
  .machine_readable/self-validating/examples/setup-repo.k9.ncl
Due: none

chore(license): migrate PMPL scaffold emissions to MPL-2.0 (#41)
  .machine_readable/contractiles/Trustfile.a2ml
  .machine_readable/self-validating/examples/setup-repo.k9.ncl
  .well-known/ai.txt
  .well-known/humans.txt
  build/contractile.just
  docs/RSR_OUTLINE.adoc
  docs/STATE-VISUALIZER.adoc
  docs/legal/EXHIBIT-A-ETHICAL-USE.txt
  docs/legal/EXHIBIT-B-QUANTUM-SAFE.txt
  docs/onboarding/QUICKSTART-MAINTAINER.adoc
  docs/practice/ci-cost-reduction.adoc
Due: none

fix: the Hypatia gate could never fire -- 2>&1 made it unconditionally vacuous
  .github/workflows/static-analysis-gate.yml
Due: lint:yaml

fix(ci): annotations read "null" against unanchorable absolute paths
  .github/workflows/static-analysis-gate.yml
Due: lint:yaml

chore(ci): repoint push-email-notify to smtp-notify-action
  .github/workflows/actions.lock
  .github/workflows/push-email-notify.yml
Due: lint:yaml

chore(ci): repoint push-email-notify to smtp-notify-action (#43)
  .github/workflows/actions.lock
  .github/workflows/push-email-notify.yml
Due: lint:yaml

fix: the Hypatia gate could never fire — 2>&1 made it unconditionally vacuous (#42)
  .github/workflows/static-analysis-gate.yml
Due: lint:yaml

fix(ci): the invisible-character gate never matched anything (#38)
  .github/workflows/dogfood-gate.yml
Due: lint:yaml

chore(dependabot): cap open pull requests per update block
  .github/dependabot.yml
Due: lint:yaml

docs(machine-readable): point at the DEED grammar as the single normative source
  .machine_readable/README.adoc
  .machine_readable/contractiles/README.adoc
  .machine_readable/descriptiles/README.adoc
Due: none

docs(machine-readable): correct the ai/ inventory to the directory's actual contents
  .machine_readable/README.adoc
Due: none

docs(machine-readable): resolve two self-contradictions the review found
  .machine_readable/README.adoc
  .machine_readable/contractiles/README.adoc
  .machine_readable/descriptiles/README.adoc
Due: none

fix(ci): remove rust-ci.yml as repo has no Cargo.toml
  .github/workflows/rust-ci.yml
Due: lint:yaml

Fix TokenPermissionsID: apply least-privilege permissions
  .github/workflows/dependabot-automerge.yml
  .github/workflows/rhodibot.yml
Due: lint:yaml

fix(ci): remove rust-ci.yml as repo has no Cargo.toml (#46)
  .github/workflows/rust-ci.yml
Due: lint:yaml

docs(machine-readable): point at the DEED grammar as the single normative source (#45)
  .machine_readable/README.adoc
  .machine_readable/contractiles/README.adoc
  .machine_readable/descriptiles/README.adoc
Due: none

chore(actions): relock drifted action pins
  .github/workflows/actions.lock
Due: none

fix(ci): make the dogfood gate .deed-aware
  .githooks/validate-a2ml.sh
  .github/workflows/dogfood-gate.yml
Due: lint:shell, lint:yaml

fix(ci): address review - align the gate's labels with what it counts
  .githooks/validate-a2ml.sh
  .github/workflows/dogfood-gate.yml
Due: lint:shell, lint:yaml

fix(ci): make the dogfood gate .deed-aware (#49)
  .githooks/validate-a2ml.sh
  .github/workflows/dogfood-gate.yml
Due: lint:shell, lint:yaml

chore(actions): relock drifted action pins (#48)
  .github/workflows/actions.lock
Due: none

chore(www): migrate root .well-known/ to www/.well-known/ (rsr-template-repo#119)
  www/.well-known/ai.txt
  www/.well-known/humans.txt
  www/.well-known/security.txt
Due: none

chore(www): migrate root .well-known/ to www/.well-known/ (#50)
  www/.well-known/ai.txt
  www/.well-known/humans.txt
  www/.well-known/security.txt
Due: none

chore(root): correct the CHANGELOG allowlist entry to the file that exists
  .machine_readable/root-allow.txt
Due: none

chore(root): allowlist the www/ bundle created by the .well-known migration
  .machine_readable/root-allow.txt
Due: none

refactor(root): relocate versioned git hooks from .githooks/ to .github/hooks/
  .github/hooks/validate-a2ml.sh
  .github/hooks/validate-k9.sh
  .github/workflows/dogfood-gate.yml
  .machine_readable/root-allow.txt
Due: lint:shell, lint:yaml

refactor(root): move abi.ipkg next to the ABI seam in src/interface/
  .gitignore
  .machine_readable/root-allow.txt
  Justfile
  docs/onboarding/QUICKSTART-DEV.adoc
  docs/onboarding/QUICKSTART-MAINTAINER.adoc
  docs/onboarding/QUICKSTART-USER.adoc
  docs/status/TEST-NEEDS.adoc
  src/interface/abi.ipkg
  tests/e2e.sh
Due: lint:shell

refactor(root): complete the root cleanup migration (#51)
  .github/hooks/validate-a2ml.sh
  .github/hooks/validate-k9.sh
  .github/workflows/dogfood-gate.yml
  .gitignore
  .machine_readable/root-allow.txt
  Justfile
  docs/onboarding/QUICKSTART-DEV.adoc
  docs/onboarding/QUICKSTART-MAINTAINER.adoc
  docs/onboarding/QUICKSTART-USER.adoc
  docs/status/TEST-NEEDS.adoc
  src/interface/abi.ipkg
  tests/e2e.sh
Due: lint:shell, lint:yaml

chore(root): allowlist the root guide and security policy
  .machine_readable/root-allow.txt
Due: none

chore(root): allowlist the root guide and security policy (#52)
  .machine_readable/root-allow.txt
Due: none

fix(docs): list the contributing guide where it actually lives
  .github/CONTRIBUTING.md
Due: lint:markdown

fix(docs): list the contributing guide where it actually lives (#53)
  .github/CONTRIBUTING.md
Due: lint:markdown

ci(rhodibot): switch to the report-only canary (standards#759)
  .github/workflows/rhodibot.yml
Due: lint:yaml
