Repository hyperpolymath/scaffoldia: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:shell, lint:yaml, lint:markdown

lint:shell:
  stage: lint
  image: koalaman/shellcheck-alpine:stable
  script:
  - shellcheck **/*.sh

lint:yaml:
  stage: lint
  image: sdesbure/yamllint
  script:
  - yamllint -c .yamllint .

lint:markdown:
  stage: lint
  image: node:lts-alpine
  script:
  - npm install -g markdownlint-cli
  - markdownlint '**/*.md'

chore(ci): bump standards reusable workflow pins to d135b05bfc64 (#1)
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/mirror.yml
  .github/workflows/rust-ci.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
Due: lint:yaml

chore(ci): add dormant push-email notification workflow
  .github/workflows/push-email-notify.yml
Due: lint:yaml

chore(issue-forms): retire local templates -> inherit org canon
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
Due: lint:yaml

chore(issue-forms): retire local templates -> inherit org canon (#3)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
Due: lint:yaml

chore(ci): add dormant push-email notification workflow (#4)
  .github/workflows/push-email-notify.yml
Due: lint:yaml

ci: re-pin hypatia-scan reusable to standards HEAD d7c2271 (hypatia#464)
  .github/workflows/hypatia-scan.yml
Due: lint:yaml

ci: re-pin governance reusable to standards HEAD d7c2271 (hypatia#464)
  .github/workflows/governance.yml
Due: lint:yaml

ci: re-pin scorecard reusable to standards HEAD d7c2271 (hypatia#464)
  .github/workflows/scorecard.yml
Due: lint:yaml

ci: refresh standards reusable pins to current HEAD (d7c2271) (#5)
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/scorecard.yml
Due: lint:yaml

chore: retire local issue/discussion templates -> inherit org .github canon
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/q-and-a.yml
Due: lint:yaml

chore: retire local issue/discussion templates -> inherit org .github canon (#6)
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/q-and-a.yml
Due: lint:yaml

fix(ci): re-pin rust-ci-reusable past toolchain-input breakage
  .github/workflows/rust-ci.yml
Due: lint:yaml

fix(ci): re-pin rust-ci-reusable past toolchain-input breakage (#7)
  .github/workflows/rust-ci.yml
Due: lint:yaml

fix(ci): make OSSF Scorecard caller valid (perms / drop timeout-minutes)
  .github/workflows/scorecard.yml
Due: lint:yaml

fix(ci): make OSSF Scorecard caller valid (perms / drop timeout-minutes) (#8)
  .github/workflows/scorecard.yml
Due: lint:yaml

fix(ci): estate-wide structural CI fixes
  .github/workflows/mirror.yml
  .github/workflows/rsr-antipattern.yml
  .github/workflows/secret-scanner.yml
Due: lint:yaml

fix(ci): clear remaining scaffoldia mainline reds (round 2)
  .github/workflows/dogfood-gate.yml
  .github/workflows/rsr-antipattern.yml
  docs/tech-debt-2026-05-26.adoc
  docs/tech-debt-2026-05-26.md
Due: lint:yaml, lint:markdown

fix(ci): clear remaining scaffoldia mainline reds (round 2) (#10)
  .github/workflows/dogfood-gate.yml
  .github/workflows/rsr-antipattern.yml
  docs/tech-debt-2026-05-26.adoc
  docs/tech-debt-2026-05-26.md
Due: lint:yaml, lint:markdown

fix(ci): switch to permissionless reusable workflow
  .github/workflows/secret-scanner.yml
Due: lint:yaml

fix(ci): clear OSSF Scorecard startup_failure
  .github/workflows/scorecard.yml
Due: lint:yaml

fix(clade): derive scaffoldia's own uuid — stop wearing the template's identity
  .machine_readable/descriptiles/CLADE.a2ml
Due: none

fix(clade): derive scaffoldia's own uuid — stop wearing the template's identity (#12)
  .machine_readable/descriptiles/CLADE.a2ml
Due: none

security: re-pin secret scanner onto the real gitleaks gate
  .github/workflows/secret-scanner.yml
Due: lint:yaml

security: re-pin secret scanner onto the real gitleaks gate (#14)
  .github/workflows/secret-scanner.yml
Due: lint:yaml

chore(governance): add flake.nix for standards#505 gates
  flake.nix
Due: none

chore(governance): land missing docs/packaging before the standards#505 gates bite (#15)
  flake.nix
Due: none

chore: resolve the two-scaffoldia fork — engine dormant, registry harvested
  .machine_readable/descriptiles/ECOSYSTEM.a2ml
  .machine_readable/descriptiles/STATE.a2ml
  machine-readable-design/harvested-registry/README.adoc
  machine-readable-design/harvested-registry/ecosystem/reposystem-tool.ncl
  machine-readable-design/harvested-registry/elixir/phoenix-service.ncl
  machine-readable-design/harvested-registry/gitbot/fleet-bot.ncl
  machine-readable-design/harvested-registry/haskell/stack-library.ncl
  machine-readable-design/harvested-registry/julia/package.ncl
  machine-readable-design/harvested-registry/rescript/deno-app.ncl
  machine-readable-design/harvested-registry/rust/library.ncl
Due: none

chore: resolve the two-scaffoldia fork — engine dormant, registry harvested (#16)
  .machine_readable/descriptiles/ECOSYSTEM.a2ml
  .machine_readable/descriptiles/STATE.a2ml
  machine-readable-design/harvested-registry/README.adoc
  machine-readable-design/harvested-registry/ecosystem/reposystem-tool.ncl
  machine-readable-design/harvested-registry/elixir/phoenix-service.ncl
  machine-readable-design/harvested-registry/gitbot/fleet-bot.ncl
  machine-readable-design/harvested-registry/haskell/stack-library.ncl
  machine-readable-design/harvested-registry/julia/package.ncl
  machine-readable-design/harvested-registry/rescript/deno-app.ncl
  machine-readable-design/harvested-registry/rust/library.ncl
Due: none

fix(ci): close the governance gate — SPDX, permissions, SHA pins, reusable bump
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/scorecard.yml
Due: lint:yaml

fix(ci): close the governance gate — SPDX, permissions, SHA pins, reusable bump (#17)
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/scorecard.yml
Due: lint:yaml

sweep4: add C-A-G-M files
  .github/funding.yml
  ARCHITECTURE.md
  GOVERNANCE.md
  MAINTAINERS
Due: lint:yaml, lint:markdown

sweep2: add config files (mise.toml)
  mise.toml
Due: none

sweep3: add license files and SPDX identifiers
  LICENSES/AGPL-3.0-or-later.txt
  LICENSES/CC-BY-SA-4.0.txt
  LICENSES/MPL-2.0.txt
Due: none

chore: estate-wide security compliance
  .github/workflows/boj-build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/e2e.yml
  .github/workflows/estate-rules.yml
  .github/workflows/governance.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/instant-sync.yml
  .github/workflows/mirror.yml
  .github/workflows/npm-bun-blocker.yml
  .github/workflows/openssf-compliance.yml
  .github/workflows/push-email-notify.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/rhodibot.yml
  .github/workflows/rust-ci.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/security-policy.yml
  .github/workflows/static-analysis-gate.yml
  .github/workflows/ts-blocker.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
  CODE_OF_CONDUCT.md
Due: lint:yaml, lint:markdown

chore: remove duplicate GOVERNANCE files, keep GOVERNANCE.md
  .github/GOVERNANCE.md
  GOVERNANCE.adoc
Due: lint:markdown

fix: update CodeQL actions to SHA-pinned v3 (29b1f65c)
  .github/workflows/codeql.yml
Due: lint:yaml

Path conditions:
  lint:shell: any of: **/*.sh
  lint:yaml: any of: **/*.yml, **/*.yaml
  lint:markdown: any of: **/*.md
