Repository hyperpolymath/scaffoldia: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:shell, lint:yaml, lint:markdown

.gitlab-ci.yml:

# GitLab CI/CD Configuration

stages:
  - lint
  - test
  - build
  - security
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  PODMAN_USERNS: keep-id

# Default settings
default:
  image: alpine:latest
  before_script:
    - echo "Starting job..."
  after_script:
    - echo "Job completed."

# Templates
.cache_template: &cache_config
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
      - .cache/
      - vendor/

# Lint stage
lint:shell:
  stage: lint
  image: koalaman/shellcheck-alpine:stable
  script:
    - shellcheck **/*.sh
  only:
    changes:
      - "**/*.sh"

lint:yaml:
  stage: lint
  image: sdesbure/yamllint
  script:
    - yamllint -c .yamllint .
  only:
    changes:
      - "**/*.yml"
      - "**/*.yaml"

lint:markdown:
  stage: lint
  image: node:lts-alpine
  script:
    - npm install -g markdownlint-cli
    - markdownlint '**/*.md'
  only:
    changes:
      - "**/*.md"

# Test stage
test:unit:
  stage: test
  image: python:3.11-slim
  script:
    - pip install -r requirements.txt
    - pytest tests/unit
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    reports:
      junit: test-results.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    paths:
      - htmlcov/
    expire_in: 1 week

test:integration:
  stage: test
  image: python:3.11-slim
  services:
    - postgres:latest
  variables:
    POSTGRES_DB: testdb
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
  script:
    - pip install -r requirements.txt
    - pytest tests/integration

# Build stage
build:podman:
  stage: build
  image: quay.io/podman/stable
  script:
    - podman build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA .
    - podman tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:latest
    - podman login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - podman push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - podman push $CI_REGISTRY_IMAGE:latest
  only:
    - main
    - tags

build:binary:
  stage: build
  image: rust:latest
  script:
    - cargo build --release
  artifacts:
    paths:
      - target/release/
    expire_in: 1 month

# Security stage
security:sast:
  stage: security
  image: returntocorp/semgrep
  script:
    - semgrep --config=auto --json --output=semgrep-report.json
  artifacts:
    reports:
      sast: semgrep-report.json
  allow_failure: true

security:dependency-scan:
  stage: security
  image: aquasec/trivy:latest
  script:
    - trivy fs --format json --output trivy-report.json .
  artifacts:
    reports:
      dependency_scanning: trivy-report.json
  allow_failure: true

security:container-scan:
  stage: security
  image: aquasec/trivy:latest
  script:
    - trivy image --format json $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  only:
    - main
  allow_failure: true

# Deploy stage
deploy:staging:
  stage: deploy
  image: alpine:latest
  script:
    - echo "Deploying to staging..."
    - apk add --no-cache curl
    - curl -X POST $STAGING_WEBHOOK_URL
  environment:
    name: staging
    url: https://staging.example.com
  only:
    - main

deploy:production:
  stage: deploy
  image: alpine:latest
  script:
    - echo "Deploying to production..."
    - apk add --no-cache curl
    - curl -X POST $PRODUCTION_WEBHOOK_URL
  environment:
    name: production
    url: https://example.com
  only:
    - tags
  when: manual

chore: update guix.scm from squisher-corpus
  build/guix.scm
Due: none

fix(ci): re-point validate-action references at the ecosystem repos
  .github/workflows/dogfood-gate.yml
Due: lint:yaml

fix(ci): re-point validate-action references at the ecosystem repos (#19)
  .github/workflows/dogfood-gate.yml
Due: lint:yaml

chore: remove obsolete/corrupted check-no-vlang.sh gate
  .github/workflows/estate-rules.yml
  scripts/check-no-vlang.sh
Due: lint:shell, lint:yaml

chore: remove obsolete/corrupted check-no-vlang.sh gate (#20)
  .github/workflows/estate-rules.yml
  scripts/check-no-vlang.sh
Due: lint:shell, lint:yaml

ci: vendor validation scripts and remove remote action pins
  .githooks/validate-a2ml.sh
  .githooks/validate-k9.sh
  .github/workflows/dogfood-gate.yml
Due: lint:shell, lint:yaml

ci: vendor validation scripts and remove remote action pins (#22)
  .githooks/validate-a2ml.sh
  .githooks/validate-k9.sh
  .github/workflows/dogfood-gate.yml
Due: lint:shell, lint:yaml

fix(ci): Bun-first runtime policy; retire two gates that enforced the opposite
  .github/workflows/npm-bun-blocker.yml
  .github/workflows/runtime-policy.yml
  .github/workflows/ts-blocker.yml
Due: lint:yaml

fix(ci): Bun-first runtime policy; retire two gates that enforced the opposite (#23)
  .github/workflows/npm-bun-blocker.yml
  .github/workflows/runtime-policy.yml
  .github/workflows/ts-blocker.yml
Due: lint:yaml

fix(ci): drop the leftover trufflehog step — the estate retired it for gitleaks
  .github/workflows/quality.yml
Due: lint:yaml

fix(ci): drop the leftover trufflehog step — the estate retired it for gitleaks (#25)
  .github/workflows/quality.yml
Due: lint:yaml

chore: fill derivable placeholders, drop false ARCHITECTURE, surface the rest
  .github/CODEOWNERS
  .machine_readable/bot_directives/methodology.a2ml
  .machine_readable/contractiles/Justfile
  .machine_readable/contractiles/dust/Dustfile.a2ml
  0-AI-MANIFEST.a2ml
  Justfile
  REQUIRES_INITIALISATION.md
  container/.gatekeeper.yaml
  container/Containerfile
  container/README.adoc
  container/compose.toml
  container/ct-build.sh
  container/deploy.k9.ncl
  container/entrypoint.sh
  container/manifest.toml
  container/vordr.toml
  docs/governance/TEMPLATE-STANDARDS-AUDIT.adoc
  machine-readable-design/canonical-directory-structure/Intentfile.a2ml
  machine-readable-design/canonical-directory-structure/README.adoc
  machine-readable-design/canonical-directory-structure/Trustfile.a2ml
  machine-readable-design/canonical-directory-structure/bust/Bustfile.a2ml
  machine-readable-design/harvested-registry/gitbot/fleet-bot.ncl
Due: lint:shell, lint:yaml, lint:markdown

fix: restore {{PROJECT}} in reject-if-contains — it is a detector, not a value
  .machine_readable/bot_directives/methodology.a2ml
Due: none

fix: restore the trailing newline
  .machine_readable/bot_directives/methodology.a2ml
Due: none

chore(ci): make Scorecard periodic — drop push and pull_request triggers
  .github/workflows/scorecard.yml
Due: lint:yaml

chore(ci): SPDX headers on line 1 and Actions lockfile minted
  .github/workflows/actions.lock
  .github/workflows/boj-build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/e2e.yml
  .github/workflows/estate-rules.yml
  .github/workflows/governance.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/instant-sync.yml
  .github/workflows/mirror.yml
  .github/workflows/openssf-compliance.yml
  .github/workflows/push-email-notify.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/rhodibot.yml
  .github/workflows/runtime-policy.yml
  .github/workflows/rust-ci.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/security-policy.yml
  .github/workflows/static-analysis-gate.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
Due: lint:yaml

fix(ci): SPDX identifier back to line 1, after the lockfile step
  .github/workflows/boj-build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/e2e.yml
  .github/workflows/estate-rules.yml
  .github/workflows/governance.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/instant-sync.yml
  .github/workflows/mirror.yml
  .github/workflows/openssf-compliance.yml
  .github/workflows/push-email-notify.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/rhodibot.yml
  .github/workflows/runtime-policy.yml
  .github/workflows/rust-ci.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/security-policy.yml
  .github/workflows/static-analysis-gate.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
Due: lint:yaml

chore(ci): make Scorecard periodic, not per-push (#27)
  .github/workflows/scorecard.yml
Due: lint:yaml

chore(ci): SPDX headers on line 1 and Actions lockfile minted (#28)
  .github/workflows/actions.lock
  .github/workflows/boj-build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/e2e.yml
  .github/workflows/estate-rules.yml
  .github/workflows/governance.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/instant-sync.yml
  .github/workflows/mirror.yml
  .github/workflows/openssf-compliance.yml
  .github/workflows/push-email-notify.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/rhodibot.yml
  .github/workflows/runtime-policy.yml
  .github/workflows/rust-ci.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/security-policy.yml
  .github/workflows/static-analysis-gate.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
Due: lint:yaml

fix(ci): update reusable workflow SHAs to @7fdc2705df74b4e352d2a1cde3e87a5923fdf329
  .github/workflows/main-estate-audit.yml
  .github/workflows/mirror.yml
Due: lint:yaml

fix(ci): update reusable workflow SHAs to @7fdc2705df74b4e352d2a1cde3e87a5923fdf329
  .github/workflows/secret-scanner.yml
Due: lint:yaml

fix(ci): update reusable workflow SHAs to @7fdc2705df74b4e352d2a1cde3e87a5923fdf329
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/scorecard.yml
Due: lint:yaml

fix(ci): add required permissions for reusable workflows (Bug B)
  .github/workflows/scorecard.yml
Due: lint:yaml

fix(ci): conform to updated workflows (estate rules, K9, SPDX, permissions)
  .github/workflows/main-estate-audit.yml
  .machine_readable/root-allow.txt
Due: lint:yaml

fix(ci): pin actions to SHAs and fix K9 formats
  .github/workflows/boj-build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/e2e.yml
  .github/workflows/estate-rules.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/instant-sync.yml
  .github/workflows/main-estate-audit.yml
  .github/workflows/openssf-compliance.yml
  .github/workflows/push-email-notify.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/rhodibot.yml
  .github/workflows/runtime-policy.yml
  .github/workflows/security-policy.yml
  .github/workflows/static-analysis-gate.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
  .machine_readable/self-validating/examples/ci-config.k9.ncl
  .machine_readable/self-validating/examples/project-metadata.k9.ncl
  .machine_readable/self-validating/examples/setup-repo.k9.ncl
  .machine_readable/self-validating/methodology-guard.k9.ncl
  .machine_readable/self-validating/template-hunt.k9.ncl
  .machine_readable/self-validating/template-kennel.k9.ncl
  .machine_readable/self-validating/template-yard.k9.ncl
  container/deploy.k9.ncl
  coordination.k9
  session/custom-checks.k9
Due: lint:yaml

chore(ci): bump standards reusable pins to fix Bug A and Bug B (#426)
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/mirror.yml
  .github/workflows/rust-ci.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
Due: lint:yaml

chore(ci): bump standards reusable pins to 5b1d0022 (#426)
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/mirror.yml
  .github/workflows/rust-ci.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
Due: lint:yaml

chore(nix->guix): delete Nix estate-wide (#138)
  .envrc
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  flake.nix
Due: lint:yaml

refactor: migrate repository documentation from Markdown to AsciiDoc
  CHANGELOG.adoc
  CHANGELOG.md
  CONTRIBUTING.adoc
  CONTRIBUTING.md
  SECURITY.adoc
  SECURITY.md
  session/README.adoc
  session/README.md
Due: lint:markdown

refactor: migrate Markdown to AsciiDoc (#35)
  CHANGELOG.adoc
  CHANGELOG.md
  CONTRIBUTING.adoc
  CONTRIBUTING.md
  SECURITY.adoc
  SECURITY.md
  session/README.adoc
  session/README.md
Due: lint:markdown

fix(ci): rhodibot must never relicense AGPL — warn only
  .github/workflows/rhodibot.yml
Due: lint:yaml

fix(ci): rhodibot must never relicense AGPL — warn only (#36)
  .github/workflows/rhodibot.yml
Due: lint:yaml

fix(ci): unbreak workflow YAML and add a complete actions.lock
  .github/workflows/actions.lock
  .github/workflows/boj-build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/e2e.yml
  .github/workflows/estate-rules.yml
  .github/workflows/governance.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/instant-sync.yml
  .github/workflows/mirror.yml
  .github/workflows/openssf-compliance.yml
  .github/workflows/push-email-notify.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/rhodibot.yml
  .github/workflows/runtime-policy.yml
  .github/workflows/rust-ci.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/security-policy.yml
  .github/workflows/static-analysis-gate.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
Due: lint:yaml

fix(ci): unbreak workflow YAML and add a complete actions.lock (#37)
  .github/workflows/actions.lock
  .github/workflows/boj-build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/e2e.yml
  .github/workflows/estate-rules.yml
  .github/workflows/governance.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/instant-sync.yml
  .github/workflows/mirror.yml
  .github/workflows/openssf-compliance.yml
  .github/workflows/push-email-notify.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/rhodibot.yml
  .github/workflows/runtime-policy.yml
  .github/workflows/rust-ci.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/security-policy.yml
  .github/workflows/static-analysis-gate.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
Due: lint:yaml

fix(ci): the invisible-character gate never matched anything
  .github/workflows/dogfood-gate.yml
Due: lint:yaml

feat(labels): estate label tooling + auto-triage for new issues
  .github/label-classifier.json
  .github/labels.json
  .github/scripts/classify-issue.jq
  .github/workflows/actions.lock
  .github/workflows/label-triage.yml
  .github/workflows/labels.yml
Due: lint:yaml

feat(labels): estate label tooling + auto-triage for new issues (#39)
  .github/label-classifier.json
  .github/labels.json
  .github/scripts/classify-issue.jq
  .github/workflows/actions.lock
  .github/workflows/label-triage.yml
  .github/workflows/labels.yml
Due: lint:yaml

fix(ci): make invisible-character PCRE locale-independent
  .github/workflows/dogfood-gate.yml
Due: lint:yaml
