Repository hyperpolymath/scaffoldia: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:shell, lint:yaml, lint:markdown

lint:shell:
  stage: lint
  image: koalaman/shellcheck-alpine:stable
  script:
  - shellcheck **/*.sh

lint:yaml:
  stage: lint
  image: sdesbure/yamllint
  script:
  - yamllint -c .yamllint .

lint:markdown:
  stage: lint
  image: node:lts-alpine
  script:
  - npm install -g markdownlint-cli
  - markdownlint '**/*.md'

Add scorecard-enforcer.yml prevention workflow
  .github/workflows/scorecard-enforcer.yml
Due: lint:yaml

Update licensing to MPL-2.0 + Palimpsest
  .github/workflows/codeql.yml
  .github/workflows/comprehensive-quality.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/instant-sync.yml
  .github/workflows/mirror.yml
  .github/workflows/npm-bun-blocker.yml
  .github/workflows/quality.yml
  .github/workflows/rsr-antipattern.yml
  .github/workflows/scorecard-enforcer.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/security-policy.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
  LICENSE
  PALIMPSEST.adoc
  README.adoc
Due: lint:yaml

Fix Palimpsest badge URL (licence → license)
  PALIMPSEST.adoc
  README.adoc
Due: none

Update licensing to MPL-2.0 + Palimpsest
  PALIMPSEST.adoc
  README.adoc
Due: none

Standardize repo structure (hyperpolymath/mustfile pattern)
  .claude/CLAUDE.md
  .machine_readable/AGENTIC.scm
  .machine_readable/ECOSYSTEM.scm
  .machine_readable/META.scm
  .machine_readable/NEUROSYM.scm
  .machine_readable/PLAYBOOK.scm
  .machine_readable/STATE.scm
  Mustfile
Due: lint:markdown

chore: add RSR enforcement workflows
  .github/workflows/codeql.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/mirror.yml
  .github/workflows/npm-bun-blocker.yml
  .github/workflows/quality.yml
  .github/workflows/rsr-antipattern.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/security-policy.yml
  .github/workflows/ts-blocker.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
Due: lint:yaml

fix(security): update editorconfig SHA and CodeQL language
  .github/workflows/codeql.yml
  .github/workflows/quality.yml
Due: lint:yaml

policy: ban Python completely (no exceptions)
  .claude/CLAUDE.md
Due: lint:markdown

Update SECURITY.md
  SECURITY.md
Due: lint:markdown

Add MAINTAINERS.adoc
  MAINTAINERS.adoc
Due: none

Remove legacy README.md (primary content is in README.adoc)
  README.md
Due: lint:markdown

Remove duplicate CONTRIBUTING.md (content in CONTRIBUTING.adoc)
  CONTRIBUTING.md
Due: lint:markdown

chore: rename justfile to Justfile for consistency
  Justfile
Due: none

Update license to Palimpsest-MPL-1.0
  .github/workflows/codeql.yml
  .github/workflows/comprehensive-quality.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/instant-sync.yml
  .github/workflows/mirror.yml
  .github/workflows/npm-bun-blocker.yml
  .github/workflows/quality.yml
  .github/workflows/rsr-antipattern.yml
  .github/workflows/scorecard-enforcer.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/security-policy.yml
  .github/workflows/ts-blocker.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
  LICENSE
  LICENSE.txt
Due: lint:yaml

Add SCM metadata files (STATE, META, ECOSYSTEM)
  ECOSYSTEM.scm
  META.scm
  STATE.scm
Due: none

Update README.adoc
  README.adoc
Due: none

fix(ci): correct CodeQL language and update SHA pins
  .github/workflows/codeql.yml
  .github/workflows/scorecard-enforcer.yml
Due: lint:yaml

feat: implement core Scaffoldia functionality
  STATE.scm
  builder/main.ncl
  builder/merge.ncl
  cli/scaffoldia.hs
  constraints/dialect-roles.scm
  constraints/repo-logic.scm
  scaffoldia.cabal
  src/Scaffoldia/Builder.hs
  src/Scaffoldia/Constraints.hs
  src/Scaffoldia/Registry.hs
  src/Scaffoldia/Template.hs
  src/Scaffoldia/Types.hs
  test/Main.hs
Due: none

fix(ci): remove run step from scorecard job for OpenSSF compliance
  .github/workflows/scorecard-enforcer.yml
Due: lint:yaml

chore: sync template files and configuration
  LICENSE.txt
  cli/scaffoldia.cabal
  constraints/minikanren-core.scm
  registry/rust/library.ncl
  stack.yaml
Due: lint:yaml

chore: commit local changes before sync
  LICENSE
  LICENSE.txt
Due: none

feat(ci): enable Hypatia scanning
  .github/workflows/hypatia-scan.yml
Due: lint:yaml

docs: add checkpoint files for state tracking
  ECOSYSTEM.scm
  META.scm
  STATE.scm
Due: none

feat: add asdf plugin architecture with Nickel aspect-oriented config
  ECOSYSTEM.scm
  META.scm
  STATE.scm
  builder/templates/asdf-plugin/README.adoc
  builder/templates/asdf-plugin/metaiconic-plugin.ncl
  builder/templates/asdf-plugin/security-plugin.ncl
  builder/templates/asdf-plugin/ui-plugin.ncl
  docs/asdf-plugin-architecture.adoc
Due: none

feat: update project state and roadmap
  .github/FUNDING.yml
  .github/workflows/codeql.yml
  .github/workflows/comprehensive-quality.yml
  .github/workflows/guix-nix-policy.yml
  .github/workflows/instant-sync.yml
  .github/workflows/mirror.yml
  .github/workflows/npm-bun-blocker.yml
  .github/workflows/quality.yml
  .github/workflows/rsr-antipattern.yml
  .github/workflows/scorecard-enforcer.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/security-policy.yml
  .github/workflows/ts-blocker.yml
  .github/workflows/wellknown-enforcement.yml
  .github/workflows/workflow-linter.yml
  .machine_readable/AGENTIC.scm
  .machine_readable/ECOSYSTEM.scm
  .machine_readable/META.scm
  .machine_readable/NEUROSYM.scm
  .machine_readable/PLAYBOOK.scm
  .machine_readable/STATE.scm
  CONTRIBUTING.adoc
  MAINTAINERS.adoc
  PALIMPSEST.adoc
  README.adoc
  constraints/dialect-roles.scm
  constraints/minikanren-core.scm
  constraints/repo-logic.scm
  stack.yaml
Due: lint:yaml

chore: sync rhodium metadata
  .bot_directives/README.scm
  .bot_directives/echidnabot.scm
  .bot_directives/finishbot.scm
  .bot_directives/glambot.scm
  .bot_directives/rhodibot.scm
  .bot_directives/robot-repo-automaton.scm
  .bot_directives/seambot.scm
  .bot_directives/sustainabot.scm
  .editorconfig
  .machines_readable/6scm/AGENTIC.scm
  .machines_readable/6scm/ECOSYSTEM.scm
  .machines_readable/6scm/META.scm
  .machines_readable/6scm/NEUROSYM.scm
  .machines_readable/6scm/PLAYBOOK.scm
  .machines_readable/6scm/STATE.scm
  AI.a2ml
  contractiles/README.adoc
  contractiles/dust/Dustfile
  contractiles/k9/README.adoc
  contractiles/k9/examples/ci-config.k9.ncl
  contractiles/k9/examples/project-metadata.k9.ncl
  contractiles/k9/examples/setup-repo.k9.ncl
  contractiles/k9/template-hunt.k9.ncl
  contractiles/k9/template-kennel.k9.ncl
  contractiles/k9/template-yard.k9.ncl
  contractiles/lust/Intentfile
  contractiles/must/Mustfile
  contractiles/trust/Trustfile.hs
Due: none

docs: add CONTRIBUTING.md
  CONTRIBUTING.md
Due: lint:markdown

fix: remove duplicate SCM files from root
  ECOSYSTEM.scm
  META.scm
  STATE.scm
Due: none

feat: add Nickel templates for ReScript and ecosystem tools
  registry/ecosystem/reposystem-tool.ncl
  registry/rescript/deno-app.ncl
Due: none

feat: add templates for Elixir, Julia, Haskell, and gitbot
  registry/elixir/phoenix-service.ncl
  registry/gitbot/fleet-bot.ncl
  registry/haskell/stack-library.ncl
  registry/julia/package.ncl
Due: none

chore: update STATE.scm with template progress
  .machine_readable/STATE.scm
Due: none

fix: add process dependency and use LTS resolver
  scaffoldia.cabal
  stack.yaml
Due: lint:yaml

chore: add repo-batcher Justfile
  repo-batcher/Justfile
Due: none

chore(ci): bump standards reusable workflow pins to d135b05bfc64
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/mirror.yml
  .github/workflows/rust-ci.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
Due: lint:yaml

Path conditions:
  lint:shell: any of: **/*.sh
  lint:yaml: any of: **/*.yml, **/*.yaml
  lint:markdown: any of: **/*.md
